@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F3F4F6; /* Light Grey (Android Standard) */
  color: #111827; /* Dark Slate Text */
  font-family: 'Inter', sans-serif;
}
